<div class="container">
  <div class="row">
    <h1>{{artist.name}}</h1>
  </div>
  <div class="row">
    <h4>Followers: {{artist.followers.total}}</h4>
  </div>
  <div class="row">
    <img height="300" width="300" src="{{artist.images[0].url}}"/>
  </div>
  <div class="row mt-2">
    <h4>Information:</h4>
  </div>
  <div>
    <h5>Popularity Score: {{artist.popularity}}</h5>
    <h5>Genres: </h5>
    <ul class="list-group ml-3">
      <a *ngFor="let genre of artist.genres">
        {{genre}}
      </a>
    </ul>
  </div>
</div>

