<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="#">
        Song Request
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li *ngIf="!(this.cookieService.check('_id'))"
                class="nav-item">
                <a class="nav-link" routerLink="/register" href="#">Sign Up</a>
            </li>
            <li *ngIf="!(this.cookieService.check('_id'))"
                class="nav-item">
                <a class="nav-link" routerLink="/login" href="#">Log in</a>
            </li>
            <li *ngIf="this.cookieService.check('_id')"
                class="nav-item mr-2">
                <a class="nav-link" href="#">Welcome Back, {{ this.cookieService.get("firstName") }}</a>
            </li>
            <li *ngIf="this.cookieService.get('currentPartyId') == 'undefined'"
                class="nav-item">
                <a class="nav-link" routerLink="/" href="#">Join a Party</a>
            </li>
            <li *ngIf="this.cookieService.check('_id')" 
                class="nav-item">
                <a class="nav-link" routerLink="/profile" href="#">Profile</a>
            </li>
            <li *ngIf="this.cookieService.check('_id')"
                class="nav-item">
                <a class="nav-link" routerLink="/search" href="#">Search</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>