<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="#" routerLink="/">
        Song Request
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" href="#">Home</a>
            </li>
            <li *ngIf="!loggedIn()"
                class="nav-item">
                <a class="nav-link" routerLink="/register" href="#">Sign Up</a>
            </li>
            <li *ngIf="!loggedIn()"
                class="nav-item">
                <a class="nav-link" routerLink="/login" href="#">Log in</a>
            </li>
            <li *ngIf="loggedIn()" 
                class="nav-item">
                <a class="nav-link" routerLink="/profile" href="#">Profile</a>
            </li>
            <li *ngIf="loggedIn()"
                class="nav-item">
                <a class="nav-link" routerLink="/search" href="#">Search</a>
            </li>
            <li *ngIf="!inParty()"
                class="nav-item">
                <a class="nav-link" routerLink="/" href="#">Join a Party</a>
            </li>
            <li class="d-block d-sm-none">
                <a class="nav-link active"
                *ngIf="loggedIn()">
                    Logged In:
                </a>
            </li>
        </ul>
        <span class="navbar-text">
            <a class="nav-link active"
                *ngIf="inParty()">
                {{ currentPartyName() }}
            </a>
        </span>
        <span class="navbar-text">
            <a class="nav-link active"
                *ngIf="loggedIn()">
                {{ currentUsername() }}
            </a>
        </span>
    </div>
</nav>
<router-outlet></router-outlet>