<div class="container-fluid row">
  <div class="col-4 col-lg-3">
    <div>
      <h1 class="mb-3"
      *ngIf="myProfile">
        My Profile
      </h1>
      <img src={{user.profilePicturePath}} alt="Profile Picture" class="profile-pic">
      <div class="ml-1">
        <h2 class="font-weight-bold mt-4">{{ user.firstName }} {{ user.lastName }}</h2>
        <h4 class="font-weight-light text-muted">{{ user.username }}</h4>
        <h5 class="mt-4" *ngIf="spotifyConnected">
              <span>
                  <img inline src="assets/images/Spotify_Icon_RGB_Green.png" alt="Spotify" class="spotify-icon mb-1 mr-1">
              </span>
          {{ user.spotifyUsername }}
        </h5>
        <div class="mt-5" *ngIf="spotifyConnected">
          <a href={{user.spotifyUrl}}
            target="_blank">
            <img src="assets/images/Spotify_Logo_RGB_Black.png" alt="Spotify Logo" class="spotify-logo mb-1 mr-auto">
          </a>
        </div>
        <h5 class="mt-4" *ngIf="!spotifyConnected && myProfile">
              <span>
                  <img inline src="assets/images/Spotify_Icon_RGB_Green.png" alt="Spotify" class="spotify-icon mb-1">
              </span>
          <a href='https://song-request-spotify-server.herokuapp.com/'>
            Connect Spotify
          </a>
        </h5>
      </div>
    </div>
  </div>

  <div class="col-8 col-lg-9" *ngIf="!myProfile">
      <h4>Recent Tracks</h4>
      <ul class="list-group">
        <li *ngFor="let track of user.recentTracks" 
        class="list-group-item" 
        (click)=selectElementById(track.spotifyId,content)>
        <h4>{{ track.trackName }}</h4>
        <h5 class="font-weight-light">{{ track.artistName }}</h5>

        </li>
      </ul>
    </div>


  <div class="col-8 col-lg-9" *ngIf="myProfile">
    <div class="row">
        <button
          *ngIf="!editing"
          class="btn btn-warning text-dark ml-auto"
          role="button"
          (click)="toggleEditing()">
          Edit Profile
        </button>
        <button
          *ngIf="editing"
          class="btn btn-secondary text-light ml-auto"
          role="button"
          (click)="toggleEditing()">
          Cancel
        </button>
        <button
          *ngIf="!editing"
          class="btn btn-danger text-dark ml-2"
          role="button"
          (click)="logout()">
          Log Out
        </button>
        <a
          role="button"
          *ngIf="!validSpotifyToken && user.spotifyUser"
          class="btn btn-success btn-block text-dark mt-4"
          href='https://song-request-spotify-server.herokuapp.com/'>
          Refresh Spotify
        </a>
    </div>


    <div class="mt-4" *ngIf="myProfile && editing">
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" placeholder={{user.username}} readonly>
          </div>
          <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input type="text" 
              [(ngModel)]="editedFirstName"
              name="firstname"
              class="form-control" 
              id="inputFirstName" 
              aria-describedby="firstNameHelp" 
              placeholder={{user.firstName}}>
          </div>
          <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input type="text" 
              [(ngModel)]="editedLastName"
              name="lastname"
              class="form-control" 
              id="inputLastName" 
              aria-describedby="LastNameHelp" 
              placeholder={{user.lastName}}>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" 
            [(ngModel)]="editedPassword"
            name="password"
            class="form-control" 
            id="inputPassword" 
            placeholder="Password">
          </div>
          <div class="form-group">
            <label for="spotifyUserName">Spotify Username</label>
            <input class="form-control" type="text" id="spotifyUserName" placeholder={{user.spotifyUsername}} readonly>
          </div>
          <button
            class="btn btn-warning text-light mt-3"
            role="button"
            (click)="removeSpotify()">
            Remove Spotify
          </button>
          <small id="removeSpotify" class="form-text text-muted">Your Spotify account will no longer be linked to your profile.</small>
          <button
            class="btn btn-danger text-light mt-3"
            role="button"
            (click)="openDeleteAccount(deleteAccount)">
            Delete Account
          </button>
          <small id="deleteAccount" class="form-text text-muted">Your user profile will be deleted.</small>
          <button
            class="btn btn-success text-light mt-3"
            role="button"
            (click)="confirmChanges()">
            Confirm Changes
          </button>
        </form>
        <ng-template #deleteAccount let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-delete-account">Confirm Delete Account</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 class="font-weight-bold">Are you sure you wish to delete your account?</h4>
            <h5 class="font-weight-light mt-4">This action cannot be undone.</h5>
          </div>
          <div class="modal-footer">
              <button
              class="btn btn-secondary text-light mr-auto"
              role="button"
              (click)="modal.dismiss('Cross click')">
              Cancel
            </button>
            <button
              class="btn btn-danger text-light"
              role="button"
              (click)="deleteUserAccount(); modal.dismiss('Cross click')">
              Delete Account
            </button>
          </div>
        </ng-template>
    </div>


    <div class="mt-4" *ngIf="loggedInToSpotify && myProfile && !editing">
      <ul class="nav nav-tabs">
        <li class="nav-item" (click)="selectTab('playlist')">
          <a class="nav-link text-secondary" [ngClass]="{active: selectedTab === 'playlist'}">
            Playlists
          </a>
        </li>
        <li class="nav-item" (click)="selectTab('library')">
          <a class="nav-link text-secondary" [ngClass]="{active: selectedTab === 'library'}">
            Library
          </a>
        </li>
        <li class="nav-item" (click)="selectTab('recent')">
          <a class="nav-link text-secondary" [ngClass]="{active: selectedTab === 'recent'}">
            Recently Played
          </a>
        </li>
        <li class="nav-item" (click)="selectTab('following')">
          <a class="nav-link text-secondary" [ngClass]="{active: selectedTab === 'following'}">
            Following
          </a>
        </li>
      </ul>

      <div class="mt-2" [ngSwitch]="selectedTabType">
        <ul class="list-group" *ngSwitchCase="'playlist'">
          <li *ngFor="let playlist of playlists" 
            class="list-group-item" 
            (click)=selectElementById(playlist.id,content)>
            {{ playlist.name }}
          </li>
        </ul>
        <ul class="list-group" *ngSwitchCase="'library'">
          <li *ngFor="let track of tracks" 
            class="list-group-item" 
            (click)=selectElementById(track.track.id,content)>
            {{ track.track.name }}
          </li>
        </ul>
        <ul class="list-group" *ngSwitchCase="'recent'">
          <li *ngFor="let recentTrack of recent" 
            class="list-group-item" 
            (click)=selectElementById(recentTrack.track.id,content)>
            {{ recentTrack.track.name }}
          </li>
        </ul>
        <ul class="list-group" *ngSwitchCase="'following'">
          <li *ngFor="let artist of following" 
            class="list-group-item" 
            (click)=selectElementById(artist.id,content)>
            {{ artist.name }}
          </li>
        </ul>

        <ul *ngSwitchDefault></ul>
      </div>
    </div>
  </div>



  <div [ngSwitch]="true">
    <ng-template #content let-modal id="modal-basic-title-playlist" >
      <div class="modal-header" *ngSwitchCase="selectedTabType == 'playlist'">
        <h4 class="modal-title" >{{ selectedPlaylist.name }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">
            <i class="fas fa-times text-danger"></i>
          </span>
        </button>
      </div>
      <div class="modal-header" *ngSwitchCase="selectedTabType == 'following'">
        <h4 class="modal-title" >{{ selectedArtist.name }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">
            <i class="fas fa-times text-danger"></i>
          </span>
        </button>
      </div>
      <div class="modal-header" *ngSwitchCase="selectedTabType == 'library' || selectedTabType == 'recent'">
        <h4 class="modal-title" >{{ selectedSong.name }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">
            <i class="fas fa-times text-danger"></i>
          </span>
        </button>
      </div>

      <div class="modal-body" *ngSwitchCase="selectedTabType == 'playlist'">
        <span 
          routerLink="/playlist/{{selectedPlaylist.id}}"
          (click)="modal.dismiss('Cross click')">
          <img class="col-12" src={{selectedPlaylist.images[0].url}}/>
        </span>
        <div class="container">
          <div class="row mt-4">
            <div class="float-right">
              <div class="">
                <button type="button" 
                  class="btn btn-primary btn-lg" 
                  routerLink="/playlist/{{selectedPlaylist.id}}"
                  (click)="modal.dismiss('Cross click')">
                  See more...
                </button>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="float-right">
              <a role="button" 
                class="btn btn-dark" 
                href={{selectedPlaylist.external_urls.spotify}}
                target="_blank">
                Open in Spotify
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body" *ngSwitchCase="selectedTabType == 'following'">
        <span 
          routerLink="/artist/{{selectedArtist.id}}"
          (click)="modal.dismiss('Cross click')">
          <img class="col-12" src={{selectedArtist.images[0].url}}/>
        </span>
        <div class="row mt-4">
          <div class="row col-12 ml-1">
            <div class="">
              <button type="button" 
                class="btn btn-primary btn-lg" 
                routerLink="/artist/{{selectedArtist.id}}"
                (click)="modal.dismiss('Cross click')">
                See more...
              </button>
            </div>
          </div>
          <div class="row col-12 mt-3 ml-1">
            <a role="button" 
              class="btn btn-dark" 
              href={{selectedArtist.external_urls.spotify}}
              target="_blank">
              Open in Spotify
            </a>
          </div>
        </div>
      </div>
      <div class="modal-body" *ngSwitchCase="selectedTabType == 'library' || selectedTabType == 'recent'">
        <span 
          routerLink="/track/{{selectedSong.id}}"
          (click)="modal.dismiss('Cross click')">
          <img class="col-12" src={{selectedSong.album.images[0].url}}/>
        </span>
        <div class="row mt-4">
          <div class="row col-12 ml-1">
            <div class="">
              <button type="button" 
                class="btn btn-primary btn-lg" 
                routerLink="/track/{{selectedSong.id}}"
                (click)="modal.dismiss('Cross click')">
                See more...
              </button>
            </div>
            <div class="ml-auto">
              <i class="fas fa-plus-circle text-success fa-3x text-right"
              data-toggle="tooltip"
              data-placement="top"
              role="button" 
              (click)="addRecentTrack(selectedSong.id, selectedSong.name, selectedSong.artists[0].name)"
              title="Add to Queue"></i>
            </div>
          </div>
          <div class="row col-12 mt-3 ml-1">
            <a role="button" 
              class="btn btn-dark" 
              href={{selectedSong.external_urls.spotify}}
              target="_blank">
              Open in Spotify
            </a>
            <a role="button"
              href={{selectedSong.preview_url}}
              target="_blank">
              <i class="fas fa-play-circle text-secondary fa-2x ml-3 mt-1"
              data-toggle="tooltip"
              data-placement="top"
              title="Listen to Preview"></i>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
