<div class="container-fluid row">
  <div class="col-4">
    <div>
      <h1 class="mb-3"
      *ngIf="myProfile">
        My Profile
      </h1>
      <img src={{user.profilePicturePath}} alt="Profile Picture" class="profile-pic">
      <div class="ml-1">
        <h2 class="font-weight-bold mt-4">{{ user.firstName }} {{ user.lastName }}</h2>
        <h4 class="font-weight-light text-muted">{{ user.username }}</h4>
        <h5 class="mt-4" *ngIf="spotifyConnected">
              <span>
                  <img inline src="assets/images/Spotify_Icon_RGB_Green.png" alt="Spotify" class="spotify-icon mb-1 mr-1">
              </span>
          {{ user.spotifyUsername }}
        </h5>
        <div class="mt-5" *ngIf="spotifyConnected">
          <a href={{user.spotifyUrl}}
            target="_blank">
            <img src="assets/images/Spotify_Logo_RGB_Black.png" alt="Spotify Logo" class="spotify-logo mb-1 mr-auto">
          </a>
        </div>
        <h5 class="mt-4" *ngIf="!spotifyConnected && myProfile">
              <span>
                  <img inline src="assets/images/Spotify_Icon_RGB_Green.png" alt="Spotify" class="spotify-icon mb-1">
              </span>
          <a href='https://song-request-spotify-server.herokuapp.com/'>
            Connect Spotify
          </a>
        </h5>
      </div>
    </div>
  </div>


  <div class="col-8" *ngIf="myProfile">
    <div class="row">
        <button
          class="btn btn-warning text-dark ml-auto"
          role="button"
          (click)="toggleEditing()">
          Edit Profile
        </button>
        <button
          class="btn btn-danger text-dark ml-2"
          role="button"
          (click)="logout()">
          Log Out
        </button>
        <a
          role="button"
          *ngIf="!validSpotifyToken && user.spotifyUser"
          class="btn btn-success btn-block text-dark mt-4"
          href='https://song-request-spotify-server.herokuapp.com/'>
          Refresh Spotify
        </a>
        
    </div>


    <div class="mt-4" *ngIf="loggedInToSpotify && myProfile">
      <ul class="nav nav-tabs">
        <li class="nav-item" (click)="selectTab('playlist')">
          <a class="nav-link text-secondary" [ngClass]="{active: selectedTab === 'playlist'}">
            Playlists
          </a>
        </li>
        <li class="nav-item" (click)="selectTab('library')">
          <a class="nav-link text-secondary" [ngClass]="{active: selectedTab === 'library'}">
            Library
          </a>
        </li>
        <li class="nav-item" (click)="selectTab('recent')">
          <a class="nav-link text-secondary" [ngClass]="{active: selectedTab === 'recent'}">
            Recently Played
          </a>
        </li>
        <li class="nav-item" (click)="selectTab('following')">
          <a class="nav-link text-secondary" [ngClass]="{active: selectedTab === 'following'}">
            Following
          </a>
        </li>
      </ul>

      <div>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ selectedPlaylist.name }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="col-12" src={{selectedPlaylist.images[0].url}}/>
            <p class="col-12">Description: {{selectedPlaylist.description}}</p>
            <a class="col-12" href={{selectedPlaylist.external_urls.spotify}}>Open in Spotify</a>
          </div>
        </ng-template>
      </div>

      <div class="mt-2" [ngSwitch]="selectedTab">
        <ul class="list-group" *ngSwitchCase="'playlist'">
          <li *ngFor="let playlist of playlists" class="list-group-item" (click)=selectPlaylist(playlist.id,content)>
            <a routerLink="/playlist/{{playlist.id}}">{{ playlist.name }}</a>
            <div *ngIf="playlist.id == selectedID">
              <img src={{playlist.images[0].url}} />
            </div>
          </li>
        </ul>
        <ul class="list-group" *ngSwitchCase="'library'">
          <li *ngFor="let track of tracks" class="list-group-item">
            <a href="#" routerLink="/track/{{track.track.id}}">{{ track.track.name }}</a>
          </li>
        </ul>
        <ul class="list-group" *ngSwitchCase="'recent'">
          <li *ngFor="let recentTrack of recent" class="list-group-item">
            <a href="#" routerLink="/track/{{recentTrack.track.id}}">{{ recentTrack.track.name }}</a>
          </li>
        </ul>
        <ul class="list-group" *ngSwitchCase="'following'">
          <li *ngFor="let artist of following" class="list-group-item">
            <a href="#" routerLink="/artist/{{artist.id}}">{{ artist.name }}</a>
          </li>
        </ul>

        <ul *ngSwitchDefault></ul>
      </div>
    </div>
  </div>
</div>
