<div class="container">
  <div class="col-12">
    <label class="mr-3">
      <h5>
        Search by:
      </h5>
    </label>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary"
          [ngClass]="{'active btn-success' : searchType === 'track'}"
          (click)="selectSearchType('track')">
        <input type="radio"
            name="searchType"
            id="track"
            autocomplete="off">
          Song
      </label>
      <label class="btn btn-secondary"
          [ngClass]="{'active btn-success' : searchType === 'artist'}"
          (click)="selectSearchType('artist')">
        <input type="radio"
            name="searchType"
            id="artist"
            autocomplete="off">
          Artist
      </label>
      <label class="btn btn-secondary"
          [ngClass]="{'active btn-success' : searchType === 'album'}"
          (click)="selectSearchType('album')">
        <input type="radio"
            name="searchType"
            id="album"
            autocomplete="off">
          Album
      </label>
      <label class="btn btn-secondary"
          [ngClass]="{'active btn-success' : searchType === 'playlist'}"
          (click)="selectSearchType('playlist')">
        <input type="radio"
            name="searchType"
            id="playlist"
            autocomplete="off">
          Playlist
      </label>
    </div>
  </div>

  <div class="col-12 mt-3">
    <div class="row">
      <input
          class="form-control col-10"
          placeholder="Search"
          aria-label="Search"
          (keyup)="updateSearchContent($event)">
      <button class="btn btn-success col-2"(click)="search()">Search</button>
    </div>
  </div>

  <div class="col-12">
    <h5 class="mt-4">{{ searchTitle }}</h5>
    <p *ngIf="searchResults.length == 0 && searchPerformed">No Results</p>
    <div class="mt-2">
      <ul class="list-group">
        <li *ngFor="let result of searchResults" class="list-group-item"
            data-toggle="modal" attr.data-target='#modal-basic-title-{{renderedSearchType}}' (click)=selectSearchById(result.id,content)>
          {{ result.name }}
        </li>
      </ul>
    </div>
  </div>


  <div [ngSwitch]="renderedSearchType">
    <ng-template #content let-modal id="modal-basic-title-playlist" >
      <div class="modal-header" *ngSwitchCase="'playlist'">
        <h4 class="modal-title" >{{ selectedPlaylist.name }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-header" *ngSwitchCase="'artist'">
        <h4 class="modal-title" >{{ selectedArtist.name }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-header" *ngSwitchCase="'track'">
        <h4 class="modal-title" >{{ selectedSong.name }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-header" *ngSwitchCase="'album'">
        <h4 class="modal-title">{{selectedAlbum.name}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngSwitchCase="'playlist'">
        <img class="col-12" src={{selectedPlaylist.images[0].url}}/>
        <p class="col-12">Description: {{selectedPlaylist.description}}</p>
        <a class="col-12" href="#" routerLink="/playlist/{{selectedPlaylist.id}}"
           aria-label="Close" (click)="modal.dismiss('Cross click')">Show Playlist Info</a>
      </div>
      <div class="modal-body" *ngSwitchCase="'artist'">
        <img class="col-12" src={{selectedArtist.images[0].url}}/>
        <a class="col-12" href="#" routerLink="/artist/{{selectedArtist.id}}"
           aria-label="Close" (click)="modal.dismiss('Cross click')">Show Artist Info</a>
      </div>
      <div class="modal-body" *ngSwitchCase="'track'">
        <img class="col-12" src={{selectedSong.album.images[0].url}}/>
        <a class="col-12" href={{selectedSong.preview_url}}>Preview Link</a>
        <a class="col-12" href="#" routerLink="/track/{{selectedSong.id}}"
           aria-label="Close" (click)="modal.dismiss('Cross click')">Show Track Info</a>
      </div>
      <div class="modal-body" *ngSwitchCase="'album'">
        <img class="col-12" src={{selectedAlbum.images[0].url}}/>
        <p class="col-12">Artist: {{selectedAlbum.artists[0].name}}</p>
        <a class="col-12" href="#" routerLink="/album/{{selectedAlbum.id}}"
           aria-label="Close" (click)="modal.dismiss('Cross click')">Show Album Info</a>
      </div>
    </ng-template>
  </div>

</div>
