<div class="container">
  <div class="col-12">
    <label class="mr-3">
      <h5>
        Search by:
      </h5>
    </label>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary"
          [ngClass]="{'active btn-success' : searchType === 'track'}"
          (click)="selectSearchType('track')">
        <input type="radio" 
            name="searchType" 
            id="track" 
            autocomplete="off"> 
          Song
      </label>
      <label class="btn btn-secondary"
          [ngClass]="{'active btn-success' : searchType === 'artist'}"
          (click)="selectSearchType('artist')">
        <input type="radio" 
            name="searchType" 
            id="artist" 
            autocomplete="off"> 
          Artist
      </label>
      <label class="btn btn-secondary"
          [ngClass]="{'active btn-success' : searchType === 'album'}"
          (click)="selectSearchType('album')">
        <input type="radio" 
            name="searchType" 
            id="album" 
            autocomplete="off"> 
          Album
      </label>
      <label class="btn btn-secondary"
          [ngClass]="{'active btn-success' : searchType === 'playlist'}"
          (click)="selectSearchType('playlist')">
        <input type="radio" 
            name="searchType" 
            id="playlist" 
            autocomplete="off"> 
          Playlist
      </label>
    </div>
  </div>

  <div class="col-12 mt-3">
    <div class="row">
      <input 
          class="form-control col-10"  
          placeholder="Search" 
          aria-label="Search" 
          (keyup)="updateSearchContent($event)">
      <button class="btn btn-success col-2"(click)="outputSearchContent()">Search</button>
    </div>
  </div>
</div>